.m {
    width: 1200px;
    margin: 0 auto;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.carousel {
    height: 390px;
    width: 1200px;
    margin: 0 auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper .swiper-slide img {
    height: 390px;
    width: 1200px;
}

.re-musiclist {
    position: relative;
}

.re-musiclist ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.re-musiclist-h2 {
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 16px;
}

.playlist {
    width: 172px;
    height: 212px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 13.5px;
}

.playlist img {
    margin-bottom: 10px;
    width: 132.5px;
    height: 132.5px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    /* 鼠标移开恢复特效 */
    transition: all 0.4s ease 0s;
}

.playlist img:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 40px -1px rgba(2, 10, 18, .15);
    transition: all 0.5s;
    border-radius: 25%;
}

.playlist h2 {
    display: block;
    width: 140px;
    margin: 0 auto;
    font-size: 14px;
}

.re-music {
    width: 1200px;
}

.musics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.re-music-once {
    position: relative;
    display: flex;
    color: #4a4a4a;
    width: 535px;
    height: 80px;
    margin-top: 30px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 5px 40px -1px rgba(2, 10, 18, .1);
    transition: all 0.4s ease 0s;
}

.re-music-once:hover {
    box-shadow: 0 5px 40px -1px rgba(2, 10, 18, .2);
    transition: all 0.4s;
    transform: scale(0.99);
}

.re-music-once-number {
    line-height: 80px;
    text-align: center;
    margin: 0 30px;
    font-weight: 700;
    font-size: 15px;
}

.re-music-once-picurl img {
    margin-top: 12.5px;
    width: 55px;
    height: 55px;
}

.re-music-once-name {
    margin-top: 18px;
    margin-left: 18px;
}

.re-music-once-name p {
    font-weight: 700;
    margin-bottom: 10px;
}

.re-music-once-album {
    line-height: 80px;
    position: absolute;
    left: 265px;
}

.re-music-once-time {
    line-height: 80px;
    position: absolute;
    right: 20px;
    font-weight: 700;
}